@use "../../mixins/" as *;
@use "../../presets/" as *;


.right {
    display: flex;
    flex-direction: column;
    @include lg-min {
        max-width: $right-sidebar-width;
    }
    @include lg-md {
        width: 100%;
    }
    @include md-xs {
        width: calc(50% - 7.5px);
    }
    @include xs {
        width: 100%;
    } 
}