@use "../../mixins/" as *;
@use "../../presets/" as *;

.main-content {
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $gap-sm;
        @include xx-min {
            margin: 0 -7.5px 0 -7.5px;
        }
        padding-bottom: 7.5px;
    }
}

