@use "../../mixins/" as *;
@use "../../presets/" as *;

.wrapper {
    &__container {
        display: flex;
        gap: $gap;
        
        @include lg {
            flex-wrap: wrap;
        }
        @include xs-min {
            margin-bottom: $gap;
        }
        @include xs {
            margin-bottom: $gap-sm;
        }
    }
}

.main {
    @include lg-min {
        width: 100%;
    }
    @include lg-md {
        flex: 0 0 calc(100% - $left-sidebar-width - $gap);
    }
}

