@use "../../mixins/" as *;
@use "../../presets/" as *;

.header {
    &__container {
        margin-bottom: $gap;
    }
    &__content {
        @include bg-color;
        display: flex;
        flex-direction: column;
        padding: $gap-sm;
        border-radius: 0 0 7px 7px;
        overflow: hidden;
    }
}