@use "../mixins/" as *;
@use "../presets/" as *;

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    font-size: $font-size;
    line-height: 1.5em;
    color: $color-light;
    background-color: #d8b036;
    background-image: url(../img/global-bg.jpg);
    background-position: 50% 0;
    background-size: cover;
}

a {
    color: $color-light;
    text-decoration: none;
}

h1 {
    font-family: $font-header;
    font-weight: 300;
    @include xs {
        font-size: 1rem;
    }
    letter-spacing: 3px;
    padding: 18px 12px;
    margin: $gap 0;
    border-radius: 7px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0) 100%);
}

h3 {
    font-family: $font-header;
    font-weight: 300;
    letter-spacing: 0.09375em;
    padding-bottom: 10px;
    margin-top: 5px;
    color: $color-light;
    border-bottom: 1px solid $color-dark;
}

h4 {
    font-weight: 300;
    color: $color-light;
    letter-spacing: 1px;
}